{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4">Thank you for booking with us, we sent you a confirmation email at {{ email }} </h1>
          <p class="lead float-center">If you don't have an account click here: <a href="{% url 'signup' %}">Signup</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}