{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
{{ form.media }}            {# Adds date-picker required JS and CSS #}

    <div class="container">
      <div class="row justify-content-center">
        <div class=col-7>
          <div class="card">
            <div class="card-body"> 
              <h1>Bookings</h1>
              <table>
              <form method="post" action="{% url 'create' %}">
                {% csrf_token %}
                {{ form|crispy }}
              </table>
                <button type="submit" class="btn btn-outline-success mt-4">Book</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}