{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}

    <div class="container">
      <div class="row justify-content-center">
        <div class=col-7>
          <div class="card">
            <div class="card-body"> 
              <h1>Bookings</h1>
              <h5> Reviews </h5>
              <div class="card card-body"><span id="message"></span></div>
              <table>
              <form method="post" action="{% url 'create' %}">
                {% csrf_token %}
                {{ form|crispy }}
              </table>
                <button type="submit" class="btn btn-dark my-2 my-sm-0 mt-4">Book</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      const TOUR_DATA = {{ tour_data|safe }}; 
    </script>
    
    
    
    <script src="{% static '/js/script.js' %}" type="text/javascript" charset="utf-8" async defer>
      
    </script>

{% endblock %}