
.box{
    padding:60px 0px;
}


.fa{
     color: blue;
     text-decoration: none;
 }


.homepage_card{
	width: 300px;
	height: 150px;
}

.card-img-top{
	height: 230px;
}


.card-img{
	height: 110px;
}


