{% extends 'base.html' %}
{% block title %}Sign-in{% endblock %}
{% block content %}
		<div class="container">
		{% if messages %}
			<ul class="messages">
    		{% for message in messages %}
    			<li{% if message.tags %} class="alert alert-danger"{% endif %}>{{ message }}</li>
    		{% endfor %}
			</ul>
		{% endif %}
		</div>
		<div class="row justify-content-center">
				<div class="col-md-4 mt-5">
			<h1>Sign In</h1>
			<form class="form-signin mt-4" method="POST" action="{% url 'signin' %}">
				{% csrf_token %}
				<label>Username:</label><br>
				<input class="form-control" type="text" name="username"><br>
				<label>Password:</label><br>
				<input class="form-control" type="password" name="password"><br>
				<button class="btn btn-secondary" type="submit"> Sign In </button>
				<p class="mt-5"><a href="{% url 'password_reset' %}">Click here if you forgot your password</a></p>
			</form>
			<p>If you are not yet registered you can <a href="{% url 'signup' %}">sign up here</a></p>
		</div>
		</div>
{% endblock %}