{% extends 'base.html' %}
{% block title %}Signup{% endblock %}
{% block content %}
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-5 mt-5">
			<h1>Sign Up</h1>
			<form class="form-signin mt-4" method="POST" action="{% url 'signup' %}">
				{% csrf_token %}
				<label>Choose a username:</label><br>
				<input class="form-control" type="text" name="username" placeholder="Username"><br>
				<label>Choose a password:</label><br>
				<input class="form-control" type="password" name="password" placeholder="Password"><br>
				<button class="btn btn-secondary" type="submit"> Sign Up </button>
			</form>
		</div>
		</div>
		</div>
{% endblock %}