{% extends 'base.html' %}
{% block title %}Sign-in{% endblock %}
{% block content %}
		<div class="container">
		{% if messages %}
			<ul class="messages">
    		{% for message in messages %}
    			<li{% if message.tags %} class="alert alert-danger"{% endif %}>{{ message }}</li>
    		{% endfor %}
			</ul>
		{% endif %}
		</div>
		<div class="form-group container">
			<h1>Sign-in</h1>
			<form method="POST" action="{% url 'signin' %}">
				{% csrf_token %}
				<label>Username:</label><br>
				<input class="form-control" type="text" name="username"><br>
				<label>Password:</label><br>
				<input class="form-control" type="password" name="password"><br>
				<button class="btn btn-primary" type="submit"> Sign-in </button>
			</form>
		</div>
{% endblock %}