{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-6 justify-content-center">
			<!-- <div class="card text-center">
			  <div class="card-header">
			    Our mission
			  </div> -->
			    <blockquote class="blockquote">
			      <h1 class="h1-about"> “We'll take you places!” </h1>
			      <footer class="blockquote-footer">The <img src="{% static 'icons/apple-touch-icon.png' %}" width="35" height="35"> team</footer>
			    </blockquote>
			      <img data-src="//s.en.fishki.net/upload/en/201507/03/1585397/90ccd2825eb7b28820e15037bfc0b80f.gif" alt="fact, science" title="2. The earth spins at 1000 mph but travels through space a 67,000 mph." class="load mt-3" src="//s.en.fishki.net/upload/en/201507/03/1585397/90ccd2825eb7b28820e15037bfc0b80f.gif">
			</div>
	</div>
</div>

{% endblock %}