{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
	<div class="row ">

		<div class="col">
			
			<h1 class="mb-4">Our Tours:
				{% if perms.tour.can_delete_tour %}
			 <a class="btn btn-secondary" href="{% url 'tour:add_tour' %}" role="button">Add</a>
			 {% endif %}
			</h1>
			{% for tour in tours %}
			 <div class="card mb-3 float-right mr-2" style="max-width: 540px;">
			  <div class="row no-gutters">
			    <div class="col-md-4">
			      <img src="/media/{{ tour.pic }}" class="card-img m-3">
			    </div>
			    <div class="col-md-8">
			      <div class="card-body ml-2">
			        <h5 class="card-title">{{ tour.name }}</h5>
			        <p class="card-text"><small class="text-muted">{{ tour.price }}$</small></p>
			        <div class="btn-group">
                  <a href="{% url 'tour:show_tour' tour.id %}" role="button" class="btn btn-sm btn-outline-info mr-2">More Info</a>
                  <a href="{% url 'create' tour.id %}" role="button" class="btn btn-sm btn-outline-info">Book</a>
                </div>
			      </div>
			    </div>
			  </div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}