{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container justify-content-between mb-5">
	<div class="row ">

		<div class="col-md-8">

			<!-- <div id="socialHolder" class="mt-2 mb-5 float-right">
        		<div id="socialShare" class="btn-group share-group">
                    <a data-toggle="dropdown" class="btn btn-dark">
                         <i class="fa fa-share-alt fa-inverse"></i>
                    </a>
    				<button href="#" data-toggle="dropdown" class="btn btn-dark dropdown-toggle share">
    					<span class="caret"></span>
    				</button>
    				<ul class="dropdown-menu">
        				<li>
    					    <a data-original-title="Twitter" rel="tooltip"  href="#" class="btn btn-twitter">
								<i class="fa fa-twitter"></i>
							</a>
    					</li>
    					<li>
    						<a data-original-title="Facebook" rel="tooltip"  href="#" class="btn btn-facebook">
								<i class="fa fa-facebook"></i>
							</a>
    					</li>					
    					<li>
    						<a data-original-title="Pinterest" rel="tooltip"  class="btn btn-pinterest">
								<i class="fa fa-pinterest"></i>
							</a>
    					</li>
                        <li>
    						<a  data-original-title="Email" rel="tooltip" class="btn btn-mail">
								<i class="fa fa-envelope"></i>
							</a>
    					</li>
                    </ul>
    			</div>
            </div> -->
			<h1>
				{{ tour.name }}  
			</h1>
			<h6 class="text-muted"> By {{ tour.company }}</h6>
			<img src="/media/{{ tour.pic }}" class="img-fluid mt-3">
			<div class="mt-2">
				<h6>
				<a class="btn btn-social-icon btn-facebook">
			    <span class="fa fa-facebook"></span>
			  </a> <a class="btn btn-social-icon btn-instagram">
			    <span class="fa fa-instagram"></span>
			  </a> 
			  <a class="btn btn-social-icon btn-twitter">
			    <span class="fa fa-twitter"></span>
			  </a> <a class="btn btn-social-icon btn-pinterest">
			    <span class="fa fa-pinterest"></span>
			  </a></h6>
			
			  </div>
			<div class="mt-2 shadow p-3 mb-5 bg-white rounded">
			    <p class="card-text">{{ tour.description }}
			    	<div class="container card">
			    	<h5>Reviews</h5>
			    	<ul>
				{% for review in reviews %}
			    <row><li>{{ review.user }} in {{ review.date }}
			    <span class="badge badge-pill badge-primary">{{review.rating}}</li></row><br></span>
			    {{ review.text }}</li><p>
				{% endfor %}
			</ul>
			</p>
		</div>
			</div>

			<hr>
		</div>
		<div class="col-4">
			<div class="card bg-white mb-3">
			  <div class="card-body">
			    {% if tour.length > 1 %}
            		<h2 class="card-title">{{ tour.length }} days in {{ tour.location }}</h2>
            		{% else %}
            		<h2>{{ tour.length }} day in {{ tour.location }}</h2>
            		{% endif %}
			<h4 class="mt-3 text-muted"> {{ tour.price }}$/pers.  <button type="button" class="btn btn-info btn-lg mt-4 btn-block">Book Now</button></h4>
			  </div>
			</div>
			
			<div id="map-container-google-1" class="z-depth-1-half map-container mt-4">
			  <iframe src="https://maps.google.com/maps?q={{ tour.location }}&t=&z=13&ie=UTF8&iwloc=&output=embed" height="300" width="100%" frameborder="0"
    			style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
{% endblock %}